
<div ng-app='app' ng-controller='MainCtrl'>
	<div>
		<ul ng-repeat="quote in quotes.quotes.quote">  
        	<li >{{quote.description}} : {{quote.last}}</li>
    	</ul>
	</div>
</div>

<div class="center">
		<form ng-submit='getDetailquotes()'>		
			<div class="form-group">
				<label>Merci de selectionner la societé</label>
				<select ng-model="selectedName">
					<option ng-repeat="x in company" value="{{x.symbol}}">{{x.name}}</option>
				</select>
			</div>
			<button class="btn btn-primary" type="submit">get courbe !!!</button>
		</form>
	</div>