<div class="row">
    <div class="col-lg-12">
        <div class="container">
            <p class="h3 col-md-offset-4 text-primary">Actual Quotes</p>
            <ul class="list-group col-sm-3" ng-repeat="quote in quotes.quotes.quote">  
                <li class="list-group-item" ><b>{{quote.description}}</b> : {{quote.last}} $ </li>  
            </ul>
        </div><hr>

        <form class="form-group" ng-submit='getDetailquotes()'>		
            <label>Please select a compagny:&nbsp;</label>
            <select required ng-model="selectedName">
                <option ng-repeat="x in company" value="{{x.symbol}}">{{x.name}} </option>
            </select>
            <div>
                <md-datepicker ng-model="beginDate"  required md-min-date="minDate" md-max-date="maxDate" md-placeholder="Enter begin date"></md-datepicker>
                <md-datepicker  ng-model="endDate" required  md-min-date="minDate2" md-max-date="maxDate" md-placeholder="Enter end date"></md-datepicker>
            </div>
            <button ng-disabled="!selectedName || !beginDate || !endDate" class="btn btn-success col-md-offset-3"  type="submit">GO!!!</button>			
        </form>		
        <table class="table table-bordered" >
            <caption>{{ selectedName }} from: {{ formatedBeginDate }} to: {{ formatedEndDate }}</caption>
            <tr>
                <th> <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Date </th>
                <th> <i class="fa fa-folder-open-o" aria-hidden="true"></i>&nbsp;Open</th>  
                <th> <i class="fa fa-arrow-up" aria-hidden="true">&nbsp;</i>High</th>
                <th> <i class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp;Low </th>
                <th> <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close </th>
                <th> <i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;Volume </th>
            </tr>
            <tr ng-repeat="x in allQuotes.history.day">
                <td>{{ x["date"] }} </td>
                <td>{{ x["open"] }} </td>
                <td>{{ x["high"] }} </td>
                <td>{{ x["low"] }} </td>
                <td>{{ x["close"] }} </td>
                <td>{{ x["volume"] }} </td>
            </tr>
        </table>
        <div id="barChart" ng-if="quotesData">
            <div linear-chart chart-data="quotesData"></div>
        </div>
    </div>
</div>
